
QMainWindow {
background: transparent url(:/test.png);
background-position: center;
background-clip: content;
}

QTableWidget, QTabWidget {
selection-background-color: rgb(255, 100, 150);
background: rgb(255, 245, 245);
}

QTabBar:selected {
border-width: 2px, 2px, 0px, 2px;
border-color: rgb(250, 100, 100);
border-style: solid;
}

QTextBrowser, QTextEdit {
background: rgb(255, 245, 245);
selection-background-color: rgb(255, 100, 150);
border: 1px solid rgb(250, 100, 100);
border-radius: 5px;
}

QDialog#chooseDialog {
background: rgb(255, 245, 245);
border: 2px solid rgb(250, 100, 100);
opacity: 0;
/*border-radius: 5px;*/
}

QLineEdit:focus {
background: rgb(255, 245, 245);
border: 1px solid rgb(250, 100, 100);
border-radius: 5px;
}

QListWidget {
background: rgb(255, 245, 245);
selection-background-color: rgb(255, 100, 150);
border: 1px solid rgb(250, 100, 100);
border-radius: 5px;
alternate-background-color: rgb(255, 235, 235);
}

QPushButton, QComboBox, QDialog {
background-color: rgb(250, 220, 220);
}

/*QComboBox:open{
background-color: yellow;
}

QToolBar:hover {
background-color: pink;
}*/

