
QMainWindow {
background: transparent url(:/test.png);
/*background: rgb(255, 245, 245);*/
background-position: center;
background-clip: content;
}

QTableWidget, QTabWidget {
selection-background-color: rgb(100, 100, 255);
background: rgb(245, 245, 255);
}

QTabBar:selected {
border-width: 2px, 2px, 0px, 2px;
border-color: rgb(100, 100, 250);
border-style: solid;
}

QTextBrowser, QTextEdit {
background: rgb(245, 245, 255);
selection-background-color: rgb(150, 100, 255);
border: 1px solid rgb(100, 100, 250);
border-radius: 5px;
}

QDialog#chooseDialog {
background: rgb(245, 245, 255);
border: 2px solid rgb(100, 100, 250);
opacity: 0;
/*border-radius: 5px;*/
}

QLineEdit:focus {
background: rgb(245, 245, 255);
border: 1px solid rgb(100, 100, 250);
border-radius: 5px;
}

QListWidget {
background: rgb(245, 245, 255);
selection-background-color: rgb(100, 100, 255);
border: 1px solid rgb(100, 100, 250);
border-radius: 5px;
alternate-background-color: rgb(235, 235, 255);
}

QPushButton, QComboBox, QDialog {
background-color: rgb(220, 220, 250);
}

/*QToolBar:hover {
background-color: pink;
}*/

